* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.social-media a {
    margin-right: 1em;
}

.img-social {
    height: 30px;
    margin-top: 30px;
}

.footer {
    text-align: center;
    padding: 1em 0;
    color: black;
    width: 100%;
    bottom: 0;
}

.footer a {
    margin-left: 5px;
}

.footer p {
    margin-top: 10px;
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
    
}
